{% extends 'app/base.html' %}
{% load static %}
{% block bsccsit %}
    <div class="courses">
     <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <a href="{% url 'semester' %}"><h3>FIRST SEMESTER</h3></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <h3>SECOND SEMESTER</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <h3>THIRD SEMESTER</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <h3>FOURTH SEMESTER</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <h3>FIFTH SEMESTER</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <h3>SIXTH SEMESTER</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <h3>SEVENTH SEMESTER</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="course-list">
                    <h3>EIGHT SEMESTER</h3>
                </div>
            </div>
        </div>
     </div>
    </div>
{% endblock bsccsit %}