{% extends 'app/subject-base.html' %}
{% load static %}
{% block model-questions %}
    <div class="model-question">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-outline-light">2070</button>
                    <button type="button" class="btn btn-outline-light">2071</button>
                    <button type="button" class="btn btn-outline-light">2072</button>
                </div>
            </div>
            <div class="questions-year">
            <div class="row">
                <div class="col-lg-12">
                    <div class="model-questions-box">
                        <img src="{% static 'app/image/tech.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            </div>
        </div>
        
    </div>
{% endblock model-questions %}
