{% extends 'app/subject-base.html' %}
{% load static %}
{% block model-questions %}
    <div class="refrenced-books">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Books Name:</h2>
                    <div class="refrenced-books-box">
                    <img src="{% static "app\image\tech.jpg" %}" alt="" class="img-fluid refrenced-image">
                    <div class="download-icon">
                        <i class="fas fa-download"></i>
                    </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 refrenced-right">
                    <i class="fas fa-download"></i>
                </div>  -->
            </div>
        </div>
    </div>
{% endblock model-questions %}