html , body{
    width:100%;
    overflow-x: hidden;
}

*{
        box-sizing: border-box;
}
/* =================NAVBAR================ */
.nav-link {
    color: white !important;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn{
    border-radius: 20px 0px 20px 20px;
}
.logo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.logo img{
    width: 50px;
    height: 50px;
    display: block;
}

/* ===========CAROUSEL================== */
.carousel-item {
    height: 500px;
  }

/* ============three boxes================== */
.feature .col-lg-4{
    background: #030f27;
}
.container-fluid{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center{
    align-items: center !important;
}
.feature-item{
    height: 250px;
    padding: 30px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.feature-icon{
    position: relative;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdbe33;
    padding-left: 13px;
}
.feature .col-md-12:nth-child(2n) .feature-icon{
    color: black;
}
.feature .feature-icon::before{
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: -20px;
    left: -10px;
    border: 2px dotted #fff;
    border-radius: 60px;
    z-index: 1;
}
.feature .feature-icon::after{
    position: absolute;
    content: "";
    width: 79px;
    height: 79px;
    top: -18px;
    left: -9px;
    background: #030f27;
    border-radius: 60px;
    z-index: 2;
}
.feature .col-md-12:nth-child(2n) .feature-icon::after{
    background: #fdbe33;
}
.feature .col-md-12:nth-child(2n) {
    color: #030f27;
    background: #fdbe33;
}

.feature-text{
    padding-left: 60px;
    color: white;
}

/* ===============COURSES & BSC CSIT BOTH===================== */
.courses .container-fluid{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
    margin-top: 10px;
}
.course-list{
    height: 250px;
    background: #030f27;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.courses .col-lg-3:nth-child(2n) .course-list{
    background: #fdbe33;
}
.courses .col-lg-3:nth-child(5) .course-list{
    background: #fdbe33;
}
.courses .col-lg-3:nth-child(6) .course-list{
    background: #030f27;
}
.courses .col-lg-3:nth-child(7) .course-list{
    background: #fdbe33;
}
.courses .col-lg-3:nth-child(8) .course-list{
    background: #030f27;
}
.course-list h3{
    color: white;
}
.course-list:hover, h3:hover{
    border-radius: 50%;
    color: red;
}

/* ================SEMESTER================= */
.semester .container-fluid{
    margin-top: 10px;
}
.semester-box{
    height: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #030f27;
    border-radius: 100px 0 100px 100px;
    text-align: center;
}
.semester .col-lg-4:nth-child(2n) .semester-box{
    background: #fdbe33;
}
.semester-box h3{
    color: white;
}

/* ==============SUBJECT=============== */
.subject{
    background: chocolate;
}
.subject .row{
    margin-top: 10px;
}
.subject-box{
    background: #030f27;
    color: white;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    border-radius: 30px 0px 30px 30px;
}
.subject .col-lg-2:nth-child(2n) .subject-box{
    background: #fdbe33;
}

/* ===================QUESTIONS====================== */
.unitwise-questions{
    background: rgb(240, 184, 184);
    margin-left: 40px;
    margin-right: 40px;
}

.unitwise-questions .row{
    height: auto;
}

/* =============MODEL QUESTIONS=================== */
.model-question button{
    margin-top: 10px;
}
.col-lg-8{
    display: flex;
}
.model-questions-box{
    height: auto;
    width: auto;
    background: white;
    margin-top: 20px;
}
.questions-year .col-lg-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===============REFRENCED BOOKS=================== */
.refrenced-books-box{
    position: relative;
    width: 200px;
    background: #ff7f50;
}
.refrenced-image{
    display: block;
}
.download-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* =================TECH NEWS========================= */
.tech-main .col-lg-9{
    background-color: black;
    height: 350px;
    width: 75%;
    margin-bottom: 20px;
    position: relative;
}
.tech-frontpart img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tech-box {
    background: rgb(255, 255, 255);
    height:auto;
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin-top: 30px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
}

.tech-box .col-lg-9 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;

}
.tech-img{
    height: auto;
    width: auto;
    background-color: black;
}




/* ======punya=========== */
.wrapper  , a{
    padding:8px 10px;
    text-decoration:none;
    color:whitesmoke;
}
.card-body{
    justify-content: center;
}

.sidebar{
    height:auto;
    overflow:scroll;

}
.chapters a {
    color:black;
    font-size:14px;
}

.desc{
    margin-top: 20px;
    width:90%;
    font-size:16px;
    
}

